/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

span {
  line-height: 1.5em;
}

span:not(:first-of-type) {
  color: gray;
}

span:hover {
  text-decoration: underline;
}

span:hover:before {
  content: attr(data-line-number);
}
